<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="./../../css/bootstrap.css">
  <link rel="stylesheet" href="./../../style.css">
  <link rel="stylesheet" href="./../../katex/katex.min.css">
  <script src="./../../katex/katex.min.js" charset="utf-8"></script>
  <script src="./../../jquery-3.3.1.min.js" charset="utf-8"></script>
  <title>智力要素</title>
</head>
<body>
  <div class="container main-container">
    <div class="h3 main-title">
      <a class='nil' href="./../../index.html">智力要素</a>
    </div>
    <div class="h4 section-title">
      5.3.4 翻译
      <div class="h4 section-title-en">
        5.3.4 Translation
      </div>
    </div>

    <p class='p'>
      Exotic to Familiar.
    </p>

    <p class='p'>
      Tranlate from text to some useful equations so we can use our tools to manipulation that piece of constraint. Or from something exotic to things familiar. This is a special case of Implication.
    </p>

    <ul class='example-list'>
      <li>点 <span class="math">P (x_p, y_p)</span> 在 <span class="math">f(x)</span>上，说明<span class="math">f(x_p) = y_p</span></li>
      <li> <span class="math">A, B, C</span> 三点共线，说明 <span class="math">k_{AB}=k_{BC}</span></li>
      <li> <span class="math">\overrightarrow{PF_1}\cdot\overrightarrow{PF_2} = 0</span> ，说明 <span class="math">P</span> 在  <span class="math">F_1F_2</span> 为直径的圆上。</li>
    </ul>




    <p class='p'>
      这一节的主题就是，探寻什么样的逆运算是可以比较轻松解答的？
    </p>

    <hr/>

    <a class="btn btn-outline-secondary" href='./../../index.html'>目录</a>
    <a class="btn btn-outline-secondary">上一节</a>
    <a class="btn btn-outline-secondary">下一节</a>
    <hr/>

  </div>

  <div class="container footer">
    2018 © <a class='nil' href="http://albert.cn">albert innovation</a>
  </div>
  <script type="text/javascript">
    (function(){
      $(".math").each(function() {
        var texTxt = $(this).text();
        el = $(this).get(0);
        if(el.tagName == "DIV"){
            addDisp = "\\displaystyle";
        } else {
            addDisp = "";
        }
        try {
            katex.render(addDisp+texTxt, el);
        }
        catch(err) {
            $(this).html("<span class='err'>"+err);
        }
      });
    })();
  </script>
</body>
</html>
