<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="./../../css/bootstrap.css">
  <link rel="stylesheet" href="./../../style.css">
  <link rel="stylesheet" href="./../../katex/katex.min.css">
  <script src="./../../katex/katex.min.js" charset="utf-8"></script>
  <script src="./../../jquery-3.3.1.min.js" charset="utf-8"></script>
  <title>智力要素</title>
</head>
<body>
  <div class="container main-container">
    <div class="h3 main-title">
      <a class='nil' href="./../../index.html">智力要素</a>
    </div>
    <div class="h4 section-title">
      5.3.1 属性
      <div class="h4 section-title-en">
        5.3.1 Attributes
      </div>
    </div>

    <p class='p'>
      It's different with Identities. This is what we can obtain by hitting by some operaters.
    </p>

    <p class='p'>
      Operator(Pattern) = Attributes
    </p>

    <p class='p'>
      In this way we can only get most of the complete information. Most of time it's the partial information we got. Operation is a defined process or algorithm that we accept the patterns were treated by a series of design transform and the properties are the result of such process.
    </p>

    <p class='p'>
      属性举例：
    </p>

    <ul class='example-list'>
      <li>椭圆的离心率和焦点</li>
    </ul>

    <hr/>

    <a class="btn btn-outline-secondary" href='./../../index.html'>目录</a>
    <a class="btn btn-outline-secondary">上一节</a>
    <a class="btn btn-outline-secondary">下一节</a>
    <hr/>

  </div>

  <div class="container footer">
    2018 © <a class='nil' href="http://albert.cn">albert innovation</a>
  </div>
  <script type="text/javascript">
    (function(){
      $(".math").each(function() {
        var texTxt = $(this).text();
        el = $(this).get(0);
        if(el.tagName == "DIV"){
            addDisp = "\\displaystyle";
        } else {
            addDisp = "";
        }
        try {
            katex.render(addDisp+texTxt, el);
        }
        catch(err) {
            $(this).html("<span class='err'>"+err);
        }
      });
    })();
  </script>
</body>
</html>
