<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="./../../css/bootstrap.css">
  <link rel="stylesheet" href="./../../style.css">
  <link rel="stylesheet" href="./../../katex/katex.min.css">
  <script src="./../../katex/katex.min.js" charset="utf-8"></script>
  <script src="./../../jquery-3.3.1.min.js" charset="utf-8"></script>
  <title>智力要素</title>
</head>
<body>
  <div class="container main-container">
    <div class="h3 main-title">
      <a class='nil' href="./../../index.html">智力要素</a>
    </div>
    <div class="h4 section-title">
      5.2.6 映射
      <div class="h4 section-title-en">
        5.2.6 Mapping
      </div>
    </div>

    <p class='p'>
      A piece of information is kind of transfromed to another domain with no information lost only its representation has changed. It brings more tools for us to use. And it would be easier to process for human brain.
    </p>

    <p class='p'>
      映射举例：
    </p>

    <ul class='example-list'>
      <li>数形结合：把代数问题转化为几何问题，从而使用图形直觉解决问题</li>
      <li>哥德尔数：把元数学的字符串映射到正整数</li>
      <li>希尔伯特把欧几里得几何映射为代数问题</li>
    </ul>

    <hr/>

    <a class="btn btn-outline-secondary" href='./../../index.html'>目录</a>
    <a class="btn btn-outline-secondary">上一节</a>
    <a class="btn btn-outline-secondary">下一节</a>
    <hr/>

  </div>

  <div class="container footer">
    2018 © <a class='nil' href="http://albert.cn">albert innovation</a>
  </div>
  <script type="text/javascript">
    (function(){
      $(".math").each(function() {
        var texTxt = $(this).text();
        el = $(this).get(0);
        if(el.tagName == "DIV"){
            addDisp = "\\displaystyle";
        } else {
            addDisp = "";
        }
        try {
            katex.render(addDisp+texTxt, el);
        }
        catch(err) {
            $(this).html("<span class='err'>"+err);
        }
      });
    })();
  </script>
</body>
</html>
